black==23.9.0
click==8.1.7
colorama==0.4.6
flake8==6.1.0
mccabe==0.7.0
mypy
mypy-extensions==1.0.0
numpy==1.25.2
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pycodestyle==2.11.0
pyflakes==3.1.0
scipy==1.11.2
isort
pytest
rtmidi